/*
 * COMMON STYLESHEET
 * For now contains all landing page styles. 
 * (to be divided in modules)
 * Last updated: 05/14/15
 *
 * TO AUTO-COMPILE + minify run:
      sudo gem install sass (if not installed)
      sass --watch css/common.scss:css/common.css --style compressed
 */



body {
  font-family: 'Open Sans', sans-serif;  
}

/*
* Override bootstrap
*/
.container {
  max-width: 960px; 
}

.text-gray {
  color: gray !important; 
}

.lead-lg {
  font-size: 24px; 
}

.bg-white {
  background-color: white; 
}

.alert {
  display: none;
  position: absolute;
  left: 0;
  top: 0;  
  width: 100%;
  text-align: center;

  &.alert-success {
    background-color: rgba(223, 240, 216, 0.85);
  }

}

.pager-item {
  display: -webkit-flex;
  display: flex;
  padding: 15px;
  border: 1px solid #e6e6e6;
  border-bottom: 0;
  -webkit-align-items: center;
  align-items: center;
  cursor: pointer;
  transition: box-shadow 0.1s ease;

  &:hover {box-shadow: 0px 0px 15px #e6e6e6;}
  &:last-of-type {border-bottom: 1px solid #e6e6e6; }
  .pager-image {
    margin-right: 30px;
    -webkit-flex: 100px 0px;
        -ms-flex: 100px 0px;
            flex: 100px 0px;

    & > div:first-child {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      box-shadow: 0px 0px 15px #e6e6e6; 
    }
  }

   .pager-header {
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1; 
  }

  .pager-icon-right i {
    font-size: 36px;
    color: #e6e6e6; 
  }
}

.pager-title {
    margin: 0;
    font-weight: 300;
    font-size: 36px;
}
.pager-subtitle {
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    color: gray;
}

.pager-checkmark { width: 25px }

.header.app {
    font-weight: 300;
    outline: 0 !important;
}

.header.app .navbar-brand {
  font-size: 35px;
  color: #000;
  padding-top: 40px;
}
 .header.app .navbar-nav {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  font-size: 22px;
  line-height: 22px;
 }

 .header.app .navbar-image {
     width: 60px;
     height: 60px;
     border-radius: 50%;
 }

 .header.app .nav > li > a:focus,
 .header.app .nav > li > a:hover {
     transition: box-shadow 0.1s ease;
     background-color: transparent;
 }

.header.app .nav > li > a:focus .navbar-image,
.header.app .nav > li > a:hover .navbar-image { box-shadow: 0px 0px 15px #e6e6e6 }
.header.app .pager-menu {
  cursor: pointer;
  padding-left: 15px;
}

.header.app .pager-menu.pager-menu-open { background-color: #e6e6e6; }
.header.app .pager-menu.pager-menu-open .dropdown-toggle { background-color: inherit }
.header.app .pager-menu .dropdown-menu {
   min-width: 166px;
   right: -1px;
   border: 1px solid #e6e6e6;
   box-shadow: none;
   border-radius: 0;
}

.pager-landing {
    position: relative;
    height: 450px;
    background-color: #d9efe1;
    background-image: url('../images/banner.png');
    background-position: center;
    background-repeat: no-repeat; 
    border-top: 5px solid #654754;
    
    .btn-add-to-slack {
      border: 2px solid rgba(83,200,172,1);
      border-radius: 3px;
      position: absolute;
      top: 15px;
      right: 20px;
      padding: 10px 20px;
      text-decoration: none !important;
      color: #fff;
      background: rgba(83, 200, 172, 0.6);
      font-size: 20px;    
      font-family: 'Montserrat', sans-serif;
      -webkit-transition: background 0.2s ease-in;
      -moz-transition: background 0.2s ease-in;
        -o-transition: background 0.2s ease-in;
          transition: background 0.2s ease-in;
 
      &:hover {
        background: rgba(83, 200, 172, 1);
      }
      
      img {
        width: 25px;
        height: 25px;
        margin-right: 5px;
      }
      
    }
    
}

.pager-landing-container {
  display: -webkit-flex;
  display: flex;
  height: 100%;
  -webkit-align-items: center;
  align-items: center;
}

.pager-landing-title {
  width: 100%;
  text-align: center;
  color: white;
  
  h1 {
    font-weight: 900;
    font-size: 72px;
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
  }

  .social { 
    margin-top: 20px; 
    
    a {
      font-size: 40px;
      color: rgba(255,255,255, 0.8);
      padding: 0 10px;
      -webkit-transition: color 0.2s ease-in;
         -moz-transition: color 0.2s ease-in;
           -o-transition: color 0.2s ease-in;
              transition: color 0.2s ease-in;

      &:hover { color: rgba(255,255,255, 1); }
    }
  }
}

.pager-landing-browser {
  display: block;
  position: absolute;
  top: -60px;
}

.section {
  position: relative;
  padding: 120px 30px;
  overflow: hidden;
}

.section:nth-child(2n) {
  color: white;
  border-color: white;
  background-color: #53c8ac;
}

.section:nth-child(2n) .pager-landing-browser { right: 0 }


.section-header {
  text-align: center;
  
  .lead { margin-bottom: 10px }
  
  .fa-facebook-official {
    color: #3b5998; 
    margin-right: 25px;
  }

}

.section-header-icon { font-size: 172px }

.section-text { margin: 30px 0 }

.section-creator {
  // color: white;
  // background-image: url('../images/landing.jpg');
  // background-size: cover;
  // background-position: top;
  // background: #fee2af; /* Old browsers */
  // background: -moz-linear-gradient(top,  #fee2af 0%, #e6cfad 100%); /* FF3.6+ */
  // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fee2af), color-stop(100%,#e6cfad)); /* Chrome,Safari4+ */
  // background: -webkit-linear-gradient(top,  #fee2af 0%,#e6cfad 100%); /* Chrome10+,Safari5.1+ */
  // background: -o-linear-gradient(top,  #fee2af 0%,#e6cfad 100%); /* Opera 11.10+ */
  // background: -ms-linear-gradient(top,  #fee2af 0%,#e6cfad 100%); /* IE10+ */
  // background: linear-gradient(to bottom,  #fee2af 0%,#e6cfad 100%); /* W3C */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee2af', endColorstr='#e6cfad',GradientType=0 ); /* IE6-9 */
  background: #654754;
  color: #fff; 
}

.section-creator .creator-title {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 30px;
  padding: 15px;
}

.section-creator .col-md-4 { color: #333 }
.section-creator .creator-content {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  a {text-decoration: none !important;}
}

.section-creator .creator {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 15px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  box-shadow: 1px 1px 5px #777;
}

.section-creator.section { padding: 30px 0 }
.input-landing {
  position: relative;
  top: 4px;
  width: 210px;
  font-size: 14px;
  padding: 11px 10px;
  /*text-align: center;*/
  border: 1px solid #fff;
  background: none;
  outline: 0;
  line-height: 21px;
  -webkit-appearance: none;
  -webkit-border-radius: 0; 
          border-radius:0;
}

::-webkit-input-placeholder { color: white }

:-moz-placeholder {
  color: white;
  opacity: 1;
}

::-moz-placeholder {
  color: white;
  opacity: 1;
}

:-ms-input-placeholder { color: white }

.btn-landing {
  border-radius: 0;
  color: #fff;
  /*color: rgb(248, 220, 179);*/
  margin-left: -4px;
  margin-top: 4px;
  border: 1px solid #fff;
  border-left: 0;
  background: none;
  /*background: rgba(59,89,152, 1);*/
  /*background-color: #fff;*/
  outline: 0 !important;
  padding: 11px 12px;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 21px;
  width: 90px;
  -webkit-transition: all 0.2s ease-in;
     -moz-transition: all 0.2s ease-in;
       -o-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in;
}

.btn-landing:hover,
.btn-landing:focus,
.btn-landing:active {
  /*color: rgb(248, 220, 179);*/
  color: #fff;
  background: rgba(255,255,255, 0.1);
  /*background: rgba(59,89,152, 0.8);*/
  /*background-color: #fff;*/
}

.btn-update {
  border-radius: 0;
  color: white;
  border-color: #3b5998;
  background-color: #3b5998;
  outline: 0 !important;
  margin-top: 30px;
}

.btn-update:hover,
.btn-update:focus,
.btn-update:active {
  color: white;
  background-color: #3b5998;
  border-color: #3b5998;
}

.announcement {
  height: 46px;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  /*background-color: #3b5998;*/
  background: #654754;  
  color: white;
  margin-top: 2px;
}

.site { font-family: Lato, sans-serif }
.site .intro {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 450px;
  -webkit-align-items: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.site .intro .lead {
  color: white;
  width: 100%;
  text-align: center;
  font-weight: 900;
  font-size: 72px;
}

.site .menu { margin: 20px 0 }
.site .navbar-nav {
  float: none;
  width: 465px;
  margin: 0 auto;
}

.site .navbar-nav li { padding: 0 10px }
.site .navbar-nav li:hover { border-bottom: 3px solid #000 }
.site .navbar-nav li > a {
  color: #333;
  text-transform: uppercase;
  background: none;
  font-size: 18px;
  padding: 15px 5px 10px 5px;
}

.site .navbar-nav li:first-child { border-bottom: 3px solid #000 }
.site h3 {
  font-weight: 800;
  text-transform: uppercase;
}

.site .event-highlight {
  cursor: pointer;
  text-align: center;
  padding: 15px;
  color: white;
  background-color: #54acf4;
}

.site .event-highlight > p { margin: 0 }
.site .photo-post img {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.site .contact-wrap {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}
// edit-category-img {
//   display: block;
//   position: absolute;
// }
.pager-option {
  display: -webkit-flex;
  display: flex;
  height: 250px;
  -webkit-align-items: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding: 0;
  cursor: pointer;
  border: 2px solid white;
}
.pager-option.pager-option-selected > div { background-color: rgba(84, 172, 244, 0.3) }
.pager-option.pager-option-selected > div:hover { background-color: rgba(84, 172, 244, 0.3) }
.pager-option > div {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(84, 172, 244, 0.9);
}
.pager-option > div:hover { background-color: rgba(84, 172, 244, 0.95) }
.pager-option > div > div { width: 100% }
.pager-option h3,
.pager-option p {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: white;
}
.pager-options-btn {
  padding: 0;
  border: 2px solid white;
}
.btn-pager {
  width: 100%;
  border-radius: 0;
  color: white;
  background-color: #54acf4;
  border-color: #54acf4;
  outline: 0 !important;
  height: 42px;
}
.btn-pager:hover,
.btn-pager:focus,
.btn-pager:active {
  color: white;
  background-color: #54acf4;
}
.btn-pager.btn-pager-outline {
  color: #54acf4;
  background-color: white;
  border: 1px solid;
}
.btn-pager.btn-pager-success {
  background-color: #33cd5f;
  border-color: #28a54c;
}
.footer { padding: 20px }
.social-media-icons {
  margin-right: 10px;
  color: #D7D7D7;
}
.social-media-icons:hover,
.social-media-icons:focus,
.social-media-icons:active {
  color: #D7D7D7;
  text-decoration: none;
}
    

@media(min-width: 768px) {
  .input-landing {width: 320px;}
  .btn-landing   {width: 100px;}

  .section-header {
    display: -webkit-flex;
    display: flex;
    text-align: left;
    -webkit-align-items: flex-end;
            align-items: flex-end;
    

    .fa-facebook-official, 
    .fa-magic {float: left; margin-right: .3em;}

    &.magic .lead-lg {text-align: right;}

  }

}

@media(min-width: 992px) {
  .section-col-divided .col-md-4 { border-right: 1px solid }
  .section-col-divided .col-md-4:last-of-type { border-right: 0 }
}              


.icons {
      font-size: 150px;
}